/* /* Carrossel.css */

.banner-carousel {
  display: flex;
  flex-direction: row;
  
}
.banner-carousel img {
  justify-content: center;
  align-items: center;
  max-width: 70%;
  border-radius: 24px;
  display: flex;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.radio-buttons input[type="radio"] {
  appearance: none;
  display: flex;
  
  width: 12px;
  height: 12px;
  border: 2px solid #ccc; 
  border-radius: 50%;
  margin: 0 5px; 
  cursor: pointer;
  outline: none;
}

.radio-buttons input[type="radio"]:checked {
  background-color: #3D991E; 
}
