.header {
    width: 100%;
    height: 20vh;
    background-color: white;
}

.header .logo {
    width: 7rem;
    margin: 0 5em;
}

.header .line {
    border-bottom: 2px solid #ececec;
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    font-size: 0.9rem;   
}