.item-carrinho {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.carrinhopai {
  display: flex;
}

.carrinho {
  font-family: 'Inria Sans Regular', sans-serif;
}

.carrinho {
  border-radius: 24px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #f6fafb;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.carrinho h1{
  margin-bottom: 2.5rem;
}

.quantidade-controle span{
  margin-left: 0.1rem;
}

.totalcontainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
  
}

.total-left {
  text-align: left;
  font-family: "Inria Sans Light";
}

.total-right {
  text-align: right;
  font-family: "Inria Sans Regular";
}


.item-carrinho span {
  display: block;
  margin-bottom: 2px;
}

.item-carrinho img {
  width: 150px;
  height: 86px;
  border-radius: 15px;
}

.item-carrinho .info {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.info-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-left .quantidade-controle {
  background-color: #f8fcff;
  border-radius: 9px;
  border: 2px solid #eaeff2;
  display: flex;
  align-items: center;
  height: 100%;
  width: 70px;
}

.info-left .quantidade-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 4px;
  margin-left: 10px;
}

.info-left .minus-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  margin-right: 10px;
  margin-left: 2.8px;
  padding-top: 3px;
}

.info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.info-right .remove-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.preco {
  width: 100px;
  text-align: right;
}

.concluir-compra{
  display: flex;
  align-items: center;
  justify-content: center;
}

.concluir{
  border-radius: 24px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #449a24;
  padding: 16px;
  width: 20rem;
  font-size: 1rem;
  font-family: 'Inria Sans Regular', sans-serif;
}
.concluir:hover{
  background-color: rgb(34, 100, 34);
}

.pedidos {
  flex: 1;
  max-height: 60rem; /* Defina a altura máxima desejada para o elemento */
  overflow-y: auto; /* Adicione uma barra de rolagem vertical quando necessário */
}


